DEBUG = True
SECRET_KEY = ''
ADMIN_ITEMS_PER_PAGE = 30
APP_NAME = 'My Example App'
AUTHOR = 'Myself'
AUTHOR_EMAIL = 'email@example.com'
GOOGLE_ANALYTICS = ''
GOOGLE_API_KEY = ''
CRISPY_TEMPLATE_PACK = 'bootstrap4'